In [2]:
import pandas as pd

In [8]:
dataset = pd.read_csv("./data/data.csv")
dataset.drop(["ProductId", "UserId", "ProfileName", "HelpfulnessNumerator", "HelpfulnessDenominator", "Score", "Time", "Summary"], axis=1, inplace=True)
dataset = dataset[:10000]
dataset = dataset.iloc[:, 1:]
dataset.to_csv("./data/data10.csv")
dataset

                                                   Text
0     I have bought several of the Vitality canned d...
1     Product arrived labeled as Jumbo Salted Peanut...
2     This is a confection that has been around a fe...
3     If you are looking for the secret ingredient i...
4     Great taffy at a great price.  There was a wid...
...                                                 ...
9995  we switched from the advance similac to the or...
9996  Like the bad reviews say, the organic formula ...
9997  I wanted to solely breastfeed but was unable t...
9998  i love the fact that i can get this delieved t...
9999  We have a 7 week old... He had gas and constip...

[10000 rows x 1 columns]

In [27]:
dataset2 = pd.read_csv("./data/data10.csv")
dataset.to_csv("./data/data_10.csv")
df = pd.read_csv("./data/data_10.csv")

In [1]:
import yake